<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Registrar</h2>
          <form (ngSubmit)="register()">
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" id="username" [(ngModel)]="credentials.username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary me-2">Register</button>
            <button class="btn btn-secondary" (click)="return()">Voltar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
