/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body{
  background-color: #3e454d !important;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-size: cover;
}
